<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>In Check</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link rel='stylesheet' href='/css/master.css' />

    <script type="text/javascript" src="/js/jquery-3.2.1.min.js" defer></script>
    <script type="text/javascript" src="/js/materialize.min.js" defer></script>
    <script type="text/javascript" src="/js/main.js" defer></script>
  </head>
  <body>

    <nav>
    <div class="nav-wrapper white">
      <a href="" class="brand-logo left black-text text-darken-2"><img src="/images/favicon.ico" alt="">In Check</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn"><i class="material-icons">home</i></a></li>
        <li><a class="waves-effect waves-light btn">Log Out</a></li>
      </ul>
    </div>
  </nav>

    <main>
      <div class="center-align">
        <div class="content">
          <%- body %>
        </div>
      </div>
    </main>

    <footer class="page-footer white">
      <div class="footer-copyright">
        <div class="container grey-text text-darken-2">
          Created by <a href="https://github.com/bmcgrane302">Brian</a> <a href="https://github.com/randomraccoon">Cameron</a> and <a href="https://github.com/jessicaanais">Jessica</a> 2017
        </div>
      </div>
    </footer>
  </body>
</html>
