<%- contentFor('body') %>

<% if (message) { %>
  <% include ../partials/error.ejs %>
<% } %>
<script type="text/javascript" src="/js/index.js" defer></script>

<div class="center-align">
  <h1 class="chorelist">Log In</h1>
</div>

<div class="row">

   <form class="col s12 m6 offset-m3" action="/login" method="post">
     <div class="row">
       <div class="input-field col s12">
         <input autofocus id="username" name="username" type="text" class="validate">
         <label for="username">Username</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <input id="password" type="password" name="password" class="validate">
         <label for="password">Password</label>
       </div>
     </div>
     <div class="row">
       <button class="btn" type="submit">Log In<i class="material-icons right">send</i></button>
     </div>
   </form>
 </div>
 <div class="center-align">
   <a href="/register" class="waves-effect waves-light btn-large"><i class="material-icons left">group</i>Register</a>
 </div>
